body{
  font-size: 20px;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;  
}
h2 {
  margin-top: 25px;
  margin-bottom: 3px;
  color: rebeccapurple;
}
 ul{
   margin-top: 0px;
   margin-bottom: 0px;
   line-height: 1.5;
 }