*, body, html {    
  margin: 0px;
  box-sizing: border-box;
  

}

body {
  background-color: rgb(243, 242, 240);
}
header {
  
  border: 1px solid #007bff;
  border-radius: 10px;
  background-color:  #F3FAFF;
  text-align: center;
  width: auto;
  height: auto; 
  margin: 5px;
}
main {
  margin: 25px;
}

main div{
  border: 2px solid rgb(4, 194, 4);
 
}
.container { 
  width: 100%;
  border: 2px solid red;
  margin-bottom: 30px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  
 
}
.col {
  position: relative;
  max-width: 33.33%;
  position: relative;
  padding-left: 15px; 
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;  
}
h2 {
  margin-top: 25px;
  margin-bottom: 3px;
  color: rebeccapurple;
  font-size: 25px;
  
}
 ul{
   margin-top: 0px;
   margin-bottom: 0px;
   line-height: 1.5;
   font-size: 20px;
 }
.avtor {
  font-style: italic;
}
dl{
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.5;
  font-size: 20px;
}
.test{
  font-size: 30px;  
}
footer{
  border: 1px solid  #007bff;
  color: black;
  background-color:  #F3FAFF;
  padding: 10px;  
  
  margin-bottom: 15px;
  border-radius: 10px;

}